fieldset {
  margin: 0 auto;
  max-width: fit-content;
  border-color: cornflowerblue;
}

legend {
  color: #0b4263;
}

label {
  display: inline-block;
  width: 10em;
  height: 1.75em;
  text-align: end;
  color: #3a3a3a;
}

input[type="password"],
input[type="text"] {
  height: 1.75em;
  width: 20em;
}

input[type="submit"],
input[type="button"] {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #0b4263;
  color: white;
  border-color: cadetblue;
}

.hidden {
  display: none;
}
